{% extends 'base.html' %}

{% block content %}
<center><h1>My Website</h1></center>

<div class="container">
	<div class="row">
	{% for i in api.Data %}
<br>
		<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="{{ i.imageurl }}" alt="My image">
			  <div class="card-body">
			    <h5 class="card-title">{{ i.title }}</h5>
			    <p class="card-text">{{ i.body }}</p>
			    <a href="{{ x.url }}" class="btn btn-primary">Read More</a>

  </div>
</div>
<br>
{% endfor %}
	</div>
</div>

	
		
	

{% endblock %}